<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>Subject</param-name>
        <param-value>ICS2608</param-value>
    </context-param>
    <context-param>
        <param-name>Section</param-name>
        <param-value>2CSC</param-value>
    </context-param>
    <context-param>
        <param-name>Name</param-name>
        <param-value>Group 5</param-value>
    </context-param>
    <context-param>
        <param-name>Domain</param-name>
        <param-value>activelearning.ph</param-value>
    </context-param>
    <!-- DRIVERS FOR Derby (USER_INFO) -->
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:derby://localhost:1527/UserDB</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>app</param-value>
    </context-param>
    <!-- DRIVERS FOR MySQL (UPLOADED_FILES) -->
    <context-param>
        <param-name>driver_mysql</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url_mysql</param-name>
        <!--
        // NOTE: For prototyping purposes, SSL is disabled.
        // The database won't load otherwise due to certificate settings, 
           which requires GlassFish server edits. If you want to add this, ask in gc
        // PLEASE DO NOT EVER DO THIS IN REAL LIFE
        -->
        <param-value>jdbc:mysql://localhost:3310/file?useSSL=false</param-value>
    </context-param>
    <context-param>
        <param-name>username_mysql</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password_mysql</param-name>
        <param-value>11!!qqQQ</param-value>
    </context-param>
    <!-- PASSWORD ENCRYPTION SPECIFICATIONS -->
    <context-param>
        <param-name>key</param-name>
        <param-value>2CSCMP3GR0UP10 ?</param-value>
    </context-param>
    <context-param>
        <param-name>cipher</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    <!-- LISTENERS -->
    <listener>
        <listener-class>
            controllers.DateContextListener
        </listener-class>
    </listener>
    <!-- SERVLET MAPPING -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>controllers.CaptchaServlet</servlet-class>
        <init-param>
            <param-name>captchaLength</param-name>
            <param-value>8</param-value>
	</init-param>
    </servlet>
    -->
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>controllers.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>controllers.CaptchaServlet</servlet-class>
        <init-param>
            <param-name>captchaLength</param-name>
            <param-value>8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CaptchaVerifServlet</servlet-name>
        <servlet-class>controllers.CaptchaVerifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controllers.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>controllers.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestServlet</servlet-name>
        <servlet-class>controllers.GuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicantServlet</servlet-name>
        <servlet-class>controllers.ApplicantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchiveServlet</servlet-name>
        <servlet-class>controllers.ArchiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionServlet</servlet-name>
        <servlet-class>controllers.InsertionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaVerifServlet</servlet-name>
        <url-pattern>/captchaVerif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/uploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/files</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestServlet</servlet-name>
        <url-pattern>/checkGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/admin/accounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicantServlet</servlet-name>
        <url-pattern>/admin/applicants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchiveServlet</servlet-name>
        <url-pattern>/archives</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionServlet</servlet-name>
        <url-pattern>/submit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/success</welcome-file>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Error page declarations -->
    <error-page>
        <error-code>404</error-code>
        <location>/error_4.jsp</location>
    </error-page>
</web-app>
